.stock-card {
    background: var(--color-cards-accent);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
    height: 100%;
    position: relative;
}

.stock-card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.buy-btn,
.sell-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.buy-btn {
    background-color: var(--color-secondary-blue);
}

.sell-btn {
    background-color: var(--color-secondary-blue);
}